// Place all the styles related to the relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#following_container{
	border: 1px gray solid;
	border-radius: 10px;
	margin-left: 480px;
	margin-top: -300px;
	width: 500px;
	height: 500px;
}

#following_users
{

	margin-left: 10px;
	
	
}

#following_user_container{
	border: 1px gray solid;
	width: 450px;
	margin-bottom: 80px;
	height: 100%;

}

#showpic{
	width:50px;
	height: 50px;
	
}

#showname{
	width: 200%;
	margin-left: 60px;
	margin-top :-50px;
height: 100%;
}