// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#profile_container
{
	width: 80%;
	height: 100%;
	border: 1px solid gray;

}

#profile_inner_container
{
	margin-left: 50px;
	margin-top: 50px;
	border: 1px solid red;
	width: 600px;
	height: 150px;
	margin-bottom: 50px;
	
}

#profile_name
{
	padding-left: 160px;
	margin-top: -140px;
	text-align: left;
	
}

#profile_pic
{
	width: 150px;
}


#leftnav_container{
	margin-left: 150px;
	width:300px;
	height: 300px;
	border: 1px gray solid;
	border-radius: 10px;
}

#leftnav_inner_container{
	margin-left: 25px;
	margin-top: 25px;
	width: 245px;
	
	padding-bottom: 30px;
}

#leftname_container{
	margin-left: 55px;
	margin-top: -80px;

}

#leftpic_container{
 
	padding-bottom: 25px;
}


#connections_containter{
	margin-top:10px;
	border-top:  1px solid gray;
	border-bottom:  1px solid gray;

	margin-left: 25px;
	width: 255px;
	height: 50px;
}


#myposts{
	margin-top: 5px;
	border-right: 1px solid gray;
	width: 55px;
}

#following
{
	margin-top: 5px;
	margin-left: 65px;
	margin-top: -35px;
	border-right: 1px solid gray;
	padding-right: 5px;
	width: 80px;
}


#followers
{
	margin-left: 160px;
	margin-top: -36px;
	
	width: 80px;
}